html, body {
	font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #f3f3f4;
	color: #676a6c;
	height: 100%;
}

#side-menu {
	background-color: #2f4050;
	padding:0;
}

#side-menu h1 {
	color: #1f3647;
	text-align: center;
	margin: 10px 0px;
	font-size: 25px;
	border-bottom: 5px solid #fff;
	padding-bottom: 5px;
}

#side-menu ul {
	list-style: none;
	margin:0;
	padding:0;
}

#side-menu a {
	padding:12px 20px;
	text-decoration: none;
	color: #9fb1c2;
	font-weight: bold;
	font-style: 13px;
	display: block;
}
#side-menu .glyphicon {
	margin-right: 6px;
}

#side-menu a:hover {
	background-color: #293846;
	color: #fff;
	display: block;
}

#side-menu .active a {
	color: #fff;
	background-color: #293846;
}

.container-fluid {
	width: 100%;

}
.display-table {
	display:table;
	padding: 0;
	height: 100%;
}

.display-table-row {
	display: table-row;
	height: 100%;
}

.display-table-cell {
	display: table-cell;
	float: none;
	height: 100%;
}

.valign-top {
	vertical-align: top;
}

#nav-header {
	background-color: #fff;
	border-bottom: 1px solid #e7eaec;
}

#nav-footer {
	background-color: #fff;
	border-bottom: 1px solid #e7eaec;
}

#nav-header ul {
	margin:0;
	padding: 0;
	list-style: none;
	color: #676a6c;
}

#nav-header ul li {
	float: left;
	margin-left: 15px;
	padding:17px 0px;	
}

#nav-header ul .glyphicon {
	color: #676a6c;
}

#nav-header ul a {
	text-decoration: none;
}

#nav-header .logout{
	color: #676a6c;
}

#nav-header #welcome {
	margin-right: 20px;
}

#admin-footer {
	width: 100%;
	bottom: 0px;
	background-color: #fff;
	padding: 10px;

}

.navbar-default {
	background-color: #fff;
}

.navbar-default .navbar-toggle {
	border-color: #1ab394;
	background-color: #1ab394;
}
.navbar-default .icon-bar {
	border:1px white solid;
}

.navbar-default .navbar-toggle:hover {
	background-color: #1ab394;
}

.navbar-default .navbar-toggle:focus {
	background-color: #1ab394;
}

.wrapper {
	margin-top: 15px;
}
.thumbnail {
	border-radius: 5px;
}

.statistics {
	background-color: #fff;
	width: 150px;
	height: 150px;
	border: 2px solid #000;
	border-radius: 3px;
}

.editor {
	background-color: #fff;
	width: 150px;
	height: 150px;
	border: 2px solid #000;
	border-radius: 3px;
}

.caption a {
	text-decoration: none;
	color: #333;
}

.table {
	background-color: #fff;
}

.collapsible {
	margin: 15px;
	/*max-height: 100%;
	max-width: 100%;*/
}

#piechart {
	width: 50%;
	height: 50%;
}



tbody>tr>th, tbody>tr>td, thead>tr>th {
	font-size: 12px;
}


.color-swatch {
	display: inline-block;
    width: 10px;
    height: 10px;
}

.margins {
	margin-top: 15px;
}

.answer_brick {
	width: 153px;
    margin: 3px;
    padding: 5px;
    border: 1px solid #eee;
    background-color: #fff;
    border-radius: 5px;
    display: inline-block;
}